@charset "utf-8";
/* Style Reset */

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
    src: url(/Include/font/notokr-regular.eot);
    src: url(/Include/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
         url(/Include/font/notokr-regular.woff2) format('woff2'),
         url(/Include/font/notokr-regular.woff) format('woff'),
		 url(/Include/font/NotoSansKR-Light.otf) format('opentype'),
         url(/Include/font/notokr-regular.svg#notokr-regular) format('svg');

}



/* Footer */
#footer>div{position:relative;width:1140px;margin:0 auto;height:205px;}
#footer .logo{position:absolute;top:43px;left:0}
#footer .logo02{position:absolute;top:140px;left:0}
#footer .main {background:url(../images/footer_line.jpg) no-repeat 0 1px}  /************************************************************************/
#footer ul.policy{position:absolute;top:30px;left:180px}
#footer ul.policy :after{content:"";display:block;clear:both}
#footer ul.policy li{float:left;color:#000;font-size:15px;padding:0 18px;}
#footer ul.policy li:first-child{padding:0 24px 0 0;background:none}
#footer ul.policy li a{color:#000}
#footer ul.policy li a:hover{color:#529cff}
#footer .family{position:absolute;top:15px;left:740px;color:#949494;z-index:10}
#footer .family>a{position:absolute;top:0;left:0;display:inline;width:120px;height:17px;line-height:19px;cursor:pointer;padding:10px 0 10px 9px;font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:12px;color:#000;border:1px solid #d6d3dc;background:url(/images/common/footer_arrow_v2.gif) no-repeat 100% 0}
#footer .family ul{display:none;position:absolute;bottom:0px;left:0;background:#fff;width:120px;padding:9px 0 0 9px;border:1px solid #d6d3dc;border-bottom:0}
#footer .family ul li{height:20px;font-size:12px;color:#000}
#footer .cominfo{clear:both;position:absolute;top:58px;left:300px;width:725px;letter-spacing:-1px}
#footer .cominfo address{font-size:12px;color:#898a8a;line-height:24px}
#footer .cominfo ul:after{content:"";display:block;clear:both}
#footer .cominfo ul{width:645px}
#footer .cominfo ul li{font-size:12px;color:#9f9e9e;line-height:24px;margin:0 0 0 0;display:inline;font-family:'돋움',dotum,sans-serif}
#footer .cominfo ul li.block{display:block}
#footer .cominfo ul li.link{width:520px;margin-right:16px;}
#footer .cominfo ul li.link a{color:#9f9e9e}
#footer .cominfo ul li.link a:hover{color:#529cff}
#footer .cominfo ul li a{font-weight:600;color:#039bdd;font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:12px}
#footer .copy{margin:5px 0 0 0}
#footer .cominfo ul li .info_search{margin-top:-4px;margin-right:65px;color:#9f9e9e}
#footer .cominfo ul li .info_search02{margin-top:-4px;margin-right:60px;color:#9f9e9e}
#footer .cominfo ul.info_2{margin-top:18px}
#footer .cominfo ul.info_2 li{font-size:11px;color:#9f9e9e;line-height:1.5;margin:0 5px 0 0;display:inline;letter-spacing:-1px}
#footer .cominfo ul.info_2 li.maR01{margin-right:66px;*margin-right:69px}
#footer .cominfo ul.info_2 li.maR02{margin-right:131px;}


/* ############################################################################################### */
html{overflow-y:scroll}
html, body{width:100%;height:100%;min-width:1140px}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0}
body{font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:12px;color:#777;background:#fff;line-height:1.2em;font-weight:100}
select, textarea{font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:12px;color:#777}
ol, ul, dl{list-style:none}
em, address{font-style:normal}
a{text-decoration:none;color:#777}
a:hover, a:active, a:link{text-decoration:none;cursor:pointer}
a:hover{color:#529cff}
table, th, td{font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;border-spacing:0;border-collapse:collapse;text-align:center}
img{border:0;vertical-align:middle}
caption, legend{overflow:hidden;visibility:hidden;width:0;height:0;line-height:0;font-size:0}
strong{font-weight:600}
hr{display:none}

/*fieldset, input{border:0}*/
fieldset{border:0}
input{font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;color:#777}
input[type=checkbox]{padding:0;margin:3px;width:13px;height:13px}
input[type=radio]{padding:0;margin:3px;width:13px;height:13px}
select{font-size:12px;vertical-align:middle;font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;color:#777}
input[type=image]{cursor:pointer}

/* Layout */
html, body {font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;height:100%;margin:0;padding:0} 
#wrap{position:relative;width:100%;height:100%;margin:0;padding:0}
#header{position:relative;height:135px;margin:0;padding:0;border-bottom:0;z-index:30} 
#container{width:100%;min-height:100%;margin:-150px auto 0 auto;z-index:1;*zoom:1}
*html #container{height:100%} 
#content{width:100%;*zoom:1;padding:150px 0 0;margin:0 auto}
#content:after{content:"";display:block;clear:both}
#cont{width:100%;padding:0;margin:0 auto;min-height:650px !important}
#footer{clear:both;height:150px;border-top:1px solid #dcdcdc;background:#fff;z-index:1}
#aside{float:left;width:228px;margin:58px 44px 0 0;padding:0px 0 0}
#aside+#cont{float:left;width:868px;margin:58px 0 0}
#cont::after{content:"";display:block;clear:both}
.blind{position:absolute;visibility:hidden;overflow:hidden;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* Hedader */
#header{background:url(/images/common/bg_headerV2.gif) repeat-x #fff}
#header img{vertical-align:top}
#header.active{}
#header>div{z-index:1;position:relative;width:100%;margin:0 auto;text-align:left}
#header h1{width:200px;margin:0 auto}
#header h1 img{vertical-align:top}
#header h2.chunhae{position:absolute;top:0;right:0;padding:0;margin:0;display:none}
#header #tnb{padding-top:5px;display:block;height:22px;}
#header #tnb .left_menu{float:left}
#header #tnb .right_menu{float:right}
#header #tnb>ul{overflow:hidden;font-family:Dotum, '돋움', Arial, sans-serif}
#header #tnb>ul:after{content:"";display:block;overflow:hidden}
#header #tnb>ul>li{float:left;margin:5px 0 0 0;padding:0 8px 0 9px;background:url(/images/common/tnb_bg.gif) no-repeat left 3px}
#header #tnb>ul>li:first-child{background:none;padding-left:0}
#header #tnb ul.left_menu li a{display:inline-block;height:15px;line-height:16px}
#header #tnb>ul>li.main01 a{padding:0 0 0 21px;color:#0093d8;background:url(/images/common/ico_tnb01.png) no-repeat 0 50%}
#header #tnb>ul>li.main02 a{padding:0 0 0 36px;color:#0093d8;background:url(/images/common/ico_tnb02.png) no-repeat 0 50%}
#header #tnb>ul>li.milkt_mid{margin:0;background-position:0 6px;padding-right:0}
#header #tnb>ul>li img{vertical-align:top}
#header #tnb>ul>li a{color:#9d9d9d;font-size:13px;font-weight:bold}
#header #tnb>ul>li a:hover{color:#529cff}
#header .header_top{width:1140px;height:88px;margin:0 auto;position:relative;;z-index:100}
#header.winter .header_top{background:url(/images/main02/special_logo_winter.gif) 48% -2px no-repeat;}
#header.topBn_20171225 .header_top{background:url(/images/main02/special_logo_1225.gif) 50% 0 no-repeat;}
#header.topBn_20180101 .header_top{background:url(/images/main02/special_logo_0101.jpg) 50% 0 no-repeat;}
#header.winter h1,#header.topBn_20171225 h1,#header.topBn_20180101 h1{display:block;width:240px}
#header.winter h1 a,#header.topBn_20171225 h1 a,#header.topBn_20180101 h1 a{display:block;height:55px}
#header.winter h1 img,#header.topBn_20171225 h1 img,#header.topBn_20180101 h1 img{display:none}
#header .gnb_area{width:100%;height:45px;margin:0 0 0}
#header .gnb_area .gnb_back{background:url(/images/main/2017/bg_gnbBack.gif) left bottom repeat-x;width:100%;height:0;position:absolute;left:0;display:none;border-top:1px solid #e9e9e9;*z-index:-1}
#header .gnb_area>ul#gnb{width:1140px;height:46px;padding:0;margin:0 auto}
#header .gnb_area>ul#gnb:after{content:"";display:block;overflow:hidden}
#header .gnb_area>ul#gnb>li{background:none;width:254px;height:47px;position:relative;float:left;font-size:18px;font-weight:100;text-align:left}
#header .gnb_area>ul#gnb>li>a{display:inline-block;vertical-align:top;padding:0;margin:0 auto;height:43px;line-height:47px;color:#000;font-weight:100}
#header .gnb_area>ul#gnb>li:hover>a,
#header .gnb_area>ul#gnb>li.hover>a{color:#0094d9}
#header .gnb_area>ul#gnb>li.on>a{color:#0094d9}
#header .gnb_area>ul#gnb>li.on>a{border-bottom:3px solid #0094d9}
#header .gnb_area>ul#gnb>li>a:hover{border-bottom:3px solid #0094d9}
#header .gnb_area>ul#gnb>li>a.hover{border-bottom:3px solid #0094d9}
#header .gnb_area>ul#gnb>li.milkt_apply{width:127px;background:none;text-align:right}
#header .gnb_area>ul#gnb>li.milkt_apply>a{color:#0094d9}
#header .gnb_area>ul#gnb>li:first-child{text-align:left;width:251px}
#header .gnb_area>ul#gnb>li>a img{vertical-align:top}
#header .gnb_area>ul#gnb>li.milkt_apply>a span{display:inline-block;vertical-align:middle;width:38px;height:20px;margin:-1px 0 0 0;padding:0;background:url(/images/main02/ico_militbuy.png) 0 0 no-repeat;font-size:0;}
#header .gnb_area>ul#gnb>li .n_sub{position:absolute;top:45px;padding-top:0;left:0;display:none;height:0;overflow:hidden;z-index:100}
#header .gnb_area>ul#gnb>li .n_sub:after{content:"";display:block;clear:both}
#header .gnb_area>ul#gnb>li .n_sub>ul>li{font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;margin-bottom:17px;width:252px;height:20px;*height:20px;padding:0 2px;font-size:15px;color:#000;letter-spacing:-1px;text-align:left;font-weight:100}
#header .gnb_area>ul#gnb>li .n_sub>ul>li:first-child{padding-top:25px}
#header .gnb_area>ul#gnb>li .n_sub>ul>li.last{margin:0;}
#header .gnb_area>ul#gnb>li .n_sub>ul>li a{display:block;*zoom:1;background:none;color:#000;padding:0;height:20px;line-height:20px}
#header .gnb_area>ul#gnb>li .n_sub>ul>li a span{width:7px;height:20px;padding:0;font-size:0;display:inline-block;vertical-align:top;background:url(/images/common/dot_gnb.png) 0 8px no-repeat}
#header .gnb_area>ul#gnb>li:hover>.n_sub>ul>li a{background-image:none;color:#000;height:20px}
#header .gnb_area>ul#gnb>li:hover>.n_sub>ul>li a:hover,
#header .gnb_area>ul#gnb>li:hover>.n_sub>ul>li a.on{background-image:none;color:#0094d9;height:20px}
#header .gnb_area>ul#gnb>li.hover>.n_sub>ul>li a,
#header .gnb_area>ul#gnb>li.on>.n_sub>ul>li a{background-image:none;color:#000;height:20px}
#header .gnb_area>ul#gnb>li.hover>.n_sub>ul>li a:hover,
#header .gnb_area>ul#gnb>li.hover>.n_sub>ul>li a.on,
#header .gnb_area>ul#gnb>li.on>.n_sub>ul>li a.on,
#header .gnb_area>ul#gnb>li.on>.n_sub>ul>li a:hover{background-image:none;color:#0094d9}
#header .gnb_area>ul#gnb>li:hover>.n_sub>ul>li a.on span,
#header .gnb_area>ul#gnb>li:hover>.n_sub>ul>li a:hover span,
#header .gnb_area>ul#gnb>li.hover>.n_sub>ul>li a.on span,
#header .gnb_area>ul#gnb>li.on>.n_sub>ul>li a.on span{background-position:0 -92px}


/* aside없는 서브화면  */
#content>#cont .title{clear:both;width:1140px;height:40px;margin:0 auto;margin-top:58px}
#content>#cont .title h3{height:21px;line-height:21px;font-weight:600;font-size:21px;color:#212121}
#content>#cont .title h2{float:left;height:36px;line-height:36px;margin-right:7px;vertical-align:bottom;border:0;font-weight:600;font-size:22px;color:#4e4e4e}
#content>#cont .title03{clear:both;width:868px;height:40px;margin:0 auto;margin-top:50px;border-bottom:1px dashed #9e9e9e}
#content>#cont .sub_cont{width:1140px;margin:0 auto 30px}
#content>#cont .sub_cont>div{margin:0 auto}

/* aside있는 서브화면  */
#content #aside+#cont{border-left:0px solid #dcdcdc}
#content #aside+#cont .title{clear:both;width:868px;height:48px;margin:0 auto;padding:0;border-bottom:0px dashed #9e9e9e}
#content #aside+#cont .title:after{content:"";display:block;clear:both}
#content #aside+#cont .title h3{float:left;height:36px;line-height:36px;margin-right:7px;vertical-align:bottom;border:0;font-weight:600;font-size:22px;color:#4e4e4e}
#content #aside+#cont .sub_cont{width:868px !important;margin:0 0 30px}
#content #aside+#cont .sub_cont>div{width:868px;margin:4px 0 0}
#content #aside+#cont .title.title02{clear:both;width:868px;height:41px;margin:0 auto;background:url(/images/common/bg_h3.gif) repeat-x 0 100%}
#content #aside+#cont .title.title02 h3{float:left;height:39px;border-bottom:2px solid #6bb2e5}

/* Aside */
#aside .snb_area h2{background:#0094da;width:100%;height:54px;line-height:54px;padding:0;text-align:center;color:#fff;font-size:22px;letter-spacing:-1px;font-weight:100}
#aside .snb_area .snb{width:100%;padding:16px 0 30px;background:#f4f4f4}
#aside .snb_area .snb li{margin:0;text-align:center}
#aside .snb_area .snb li a{font-size:19px;margin-bottom:0;display:block;padding:18px 0;font-weight:100;letter-spacing:-1px}
#aside .snb_area .snb li a:hover,#aside .snb_area .snb li a.on{color:#0095da}

/* 콘텐츠 영역 로케이션 */
#cont .location{float:right;margin:20px 0 25px;margin-right:0px;font-family:'돋움',Dotum}/*공통*/
#cont .location_wrap{width:1140px;margin:0 auto}/*width:1140*/
#cont .location_wrap .location{}
#cont .location_wrap02{width:1140px;margin:0 auto}/*width:960*/
#cont .location_wrap02 .location{}
#cont .location_wrap03{float:right;width:1140px;margin:0 auto;position:absolute;}/*width:1140px*/
#content #aside+#cont .location_wrap03{width:868px;margin:0 auto;position:absolute;}/*width:868*/
#cont .location_wrap03 .location{margin:-38px 0 25px 0}
#cont .location li{float:left;margin-right:6px;padding-left:10px;background:url(/images/common/nav_arrow.gif) no-repeat 0 2px;font-size:12px}
#cont .location li img{vertical-align:top;padding:0px 0 0 0}
#cont .location li:first-child{padding-left:0;background:none}
#cont .location li:last-child{margin-right:0}
#cont .location li:first-child img{padding-top:1px}
#cont .location li strong{color:#238eda;font-weight:600}
#cont .sub_cont{clear:both}

/* 콘텐츠 영역 로케이션 */
#cont .top_area{margin:0 0 10px;padding:0}
#cont .top_area img{vertical-align:top}

/* 게시판 목록 */
table.board_list{width:868px;table-layout:fixed;border-top:3px solid #035b8f;border-bottom:2px solid #aaaaaa}
table.board_list thead th{height:36px;background:#f4f4f4;font-size:13px;font-weight:900;color:#1e1e1e}
table.board_list tbody td{padding:13px 0 10px;color:#9399a9;font-size:13px;background:url(/images/common/tbl_dotline.gif) repeat-x 0 0}
table.board_list tbody tr:first-child td{background:none}
table.board_list tbody td.tit{text-align:left;padding-left:10px}
table.board_list tbody td.tit a{color:#333;display:inline-block;*display:inline;*zoom:1;max-width:400px;overflow:hidden;white-space:nowrap;line-height:1.5;vertical-align:top;text-overflow:ellipsis;-o-text-overflow:ellipsis}
table.board_list tbody td.tit a:hover{color:#529cff;text-decoration:underline}
table.board_list tbody td.tit .file{padding:0 0 0 5px}
table.board_list tbody td.nolist{color:#333;text-align:center}

/* 테이블 오버시 배경색 바뀜 */
table.board_list tbody tr.on{background:#f5fafe}

/* 상세보기 게시판 */
table.board_view{width:868px;table-layout:fixed;border-top:3px solid #035b8f;border-bottom:1px solid #5b5f6b}
table.board_view tbody th{padding:13px 0 10px 0 !important;font-weight:13px;color:#1e1e1e;border-top:1px solid #d1d1d1}
table.board_view tbody td{padding:13px 0 10px 0 !important;color:#9399a9;font-size:13px;border-top:1px solid #d1d1d1}
table.board_view tbody tr:first-child th{border-top:0}
table.board_view tbody tr:first-child td{border-top:0}
table.board_view tbody td.tit{text-align:left;padding-left:0px;padding-right:20px;line-height:1.2;font-size:14px;color:#333;font-weight:900;background:#f4f4f4}
table.board_view tbody td.tit>span{display:block;padding:0 20px 0 29px}
table.board_view tbody th.period{text-align:left;padding-left:0px;color:#6b6b6b;background:#fafafa}
table.board_view tbody th.issue{text-align:left;padding-left:0px;color:#6b6b6b;background:#fafafa}
table.board_view tbody th.general{text-align:left;padding-left:0px;color:#6b6b6b;background:#fafafa}
table.board_view tbody th.period>span{padding:0 11px 0 29px;background:url(/images/lounge/event_vline.gif) no-repeat 100% 2px }
table.board_view tbody th.issue>span{padding:0 11px 0 0;background:url(/images/lounge/event_vline.gif) no-repeat 100% 2px }
table.board_view tbody th.general>span{padding:0 11px 0 29px;background:url(/images/lounge/event_vline.gif) no-repeat 100% 2px }
table.board_view tbody td.period{text-align:left;background:#fafafa}
table.board_view tbody td.issue{text-align:left;background:#fafafa}
table.board_view tbody td.general{text-align:left;background:#fafafa}
table.board_view tbody td.detail{background:#fff}
table.board_view tbody td.detail iframe{margin:6px 7px 9px 8px;text-align:center;border:0}
table.board_view tbody td.comment>div{text-align:left;padding:8px 29px;color:#6b6b6b;line-height:1.7;word-break:break-all;word-wrap:break-word}
table.board_view tbody td.comment>div>img{margin-left:-29px}
table.board_view tbody td.comment>div .tpl_event{margin-left:-29px}
table.board_view tbody tr.file th{height:26px;padding:14px 0 0px;text-align:right;font-size:12px;font-weight:900;color:#6b6b6b;background:#fcfcfc;vertical-align:top}
table.board_view tbody tr.file th>span{display:block;padding:0 11px 0 0;background:url(/images/lounge/event_vline.gif) no-repeat 100% 2px }
table.board_view tbody tr.file td{text-align:left;padding:14px 0 5px 0px;font-size:11px;color:#6b6b6b;background:#fcfcfc;vertical-align:top}
table.board_view tbody tr.file td a{display:block;font-size:11px;text-decoration:underline;color:#9399a9;margin:0 0 10px 11px}
table.board_view tbody tr.file td a:hover{color:#529cff;text-decoration:underline}
.board_view+.btns{text-align:right;padding:10px 0}
.board_view+.btns a{display:inline-block;width:57px;height:29px;line-height:29px;text-align:center;font-size:13px;color:#fff;font-weight:900;background:#035b8f}

/* 이전다음목록 게시판 */
.prevnext_listwrap{margin:7px 0 0 0}
table.prevnext_list{width:868px;table-layout:fixed;border-top:0;border-bottom:1px solid #d1d1d1}
table.prevnext_list tbody th{padding:0 !important;text-align:left;height:33px;line-height:33px;padding:0 0 0 0;font-size:13px;font-weight:900;color:#6b6b6b;background:#fcfcfc;border-top:1px solid #dcdcdc;background:url(/images/lounge/event_vline.gif) no-repeat 100% 50% #fcfcfc}
table.prevnext_list tbody th>span{padding:0 0 0 15px;margin:0 0 0 29px;background:url(/images/common/ico_board_next.gif) no-repeat 0 7px}
table.prevnext_list tbody tr:first-child th>span{background:url(/images/common/ico_board_prev.gif) no-repeat 0 50%}
table.prevnext_list tbody td{padding:2px 0 0 0 !important;text-align:left;height:33px;color:#6b6b6b;font-size:12px;background:#fcfcfc;border-top:1px solid #dcdcdc;text-indent:10px}
table.prevnext_list tbody td a{color:#6b6b6b;display:inline-block;*display:inline;*zoom:1;max-width:640px;padding:0;*padding:0 0 0 11px;margin:0;text-indent:0;overflow:hidden;white-space:nowrap;line-height:1.5;vertical-align:top;text-overflow:ellipsis;-o-text-overflow:ellipsis}
table.prevnext_list tbody td a:hover{color:#529cff;text-decoration:underline}

/* 테이블_개인정보입력 */
table.tbl_joininfo{width:868px;table-layout:fixed;border-top:1px solid #d7d7d7;border-left:1px solid #d7d7d7}
table.tbl_joininfo tbody tr th{background:#ecf6ff;padding:8px 0 8px 30px;text-align:left;color:#597488;font-weight:900;border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7}
table.tbl_joininfo tbody tr td{background:#fff;padding:8px 0 8px 20px;text-align:left;border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7}
table.tbl_joininfo tbody tr td.stit{padding:8px 0;text-align:center}
table.tbl_joininfo tbody tr td input[type=text],
table.tbl_joininfo tbody tr td input[type=password]{width:177px;height:24px;line-height:23px;border:1px solid #d7d7d7;padding:0 5px;margin:0;vertical-align:middle}
table.tbl_joininfo tbody tr td input.pnum{width:59px;color:#646464}
table input.zipcode{width:143px !important;text-align:center}
table.tbl tbody tr td input.zipcode{width:143px !important;text-align:center}
table.tbl_joininfo tbody tr td p:first-child{padding:0 0 7px}
table.tbl_joininfo tbody tr td span{vertical-align:top;display:inline-block;padding:0 4px}
table.tbl_joininfo tbody tr td span.noti{padding-left:10px;line-height:1.8}
table.tbl_joininfo tbody tr td .gender{float:left;width:100px;margin:3px 0 0;height:10px;overflow:hidden}
table.tbl_joininfo tbody tr td .birth{float:left;width:420px}
table.tbl_joininfo tbody tr td .birth select{margin:0 5px 0 0}
table.tbl_joininfo tbody tr td select{height:26px;vertical-align:top;border:1px solid #d7d7d7;padding:0 0 0 2px}
table.tbl_joininfo tbody tr td input[type=radio]{display:block;float:left;vertical-align:top;margin:0 5px 0 0;padding:0}
table.tbl_joininfo tbody tr td label{display:block;float:left;height:14px;padding:0px 10px 0 0;vertical-align:top;line-height:16px}
table.tbl_joininfo tbody tr td .input{float:left;top:0;right:0}
table.tbl_joininfo tbody tr td .check{float:right;top:0;right:0;padding:5px 20px 0 0}
table.tbl_joininfo tbody tr td .check>span{padding-left:0;color:#808080}
table.tbl_joininfo tbody tr td .check02{clear:both;top:0;right:0;padding:10px 0 0 0}
table.tbl_joininfo tbody tr td .check02>p{height:8px;float:left;margin:0 18px 0 0;color:#808080}
table.tbl_joininfo tbody tr td .btn_check{display:inline-block;width:106px;height:24px;line-height:23px;margin:0 0 0 10px;font-size:13px;letter-spacing:-1px;text-align:center;background:#7b7b7b;border:1px solid #b9b9b9;color:#fff;vertical-align:top}
table.tbl_joininfo tbody tr td .btn_gray{display:inline-block;height:18px;line-height:18px;padding:3px 6px;margin:0 0 0 10px;font-size:13px;letter-spacing:-1px;text-align:center;background:#f0f0f0;border:1px solid #919191;vertical-align:top}
table.tbl_joininfo tbody tr td .btn_check02{display:inline-block;width:76px;height:24px;line-height:23px;margin:0 0 0 10px;font-size:13px;letter-spacing:-1px;text-align:center;background:#7b7b7b;border:1px solid #b9b9b9;color:#fff;vertical-align:top}
table.tbl_joininfo tbody tr td .btn_msgsend{display:inline-block;width:98px;height:26px;line-height:24px;margin:0 0 0 5px;font-size:13px;letter-spacing:-1px;text-align:center;background:#cd4ea5;color:#fff;vertical-align:top}
table.tbl_joininfo tbody tr td input.addr01{width:219px}
table.tbl_joininfo tbody tr td input.addr02{width:369px}
table.tbl tbody tr td input.addr01{width:209px !important}
table.tbl tbody tr td input.addr02{width:309px !important}
table.tbl_joininfo tbody tr td .recom{display:inline-block;padding:3px 0 0 0}
table.tbl_joininfo tbody tr td .benefit{padding:8px 0 0 0}
table.tbl_joininfo tbody tr td .benefit>span{color:#808080}
table.tbl_joininfo tbody tr td .benefit>a{display:inline-block;padding:0 0 0 5px;margin:0 0 0 15px;background:url(/images/member/bul_03.gif) no-repeat 0 50%;color:#31b4d0}
table.tbl_joininfo tbody tr td .benefit>a span{text-decoration:underline}
table.tbl_joininfo .txt_gray{padding:0 !important;margin:0 !important;color:#808080}
table.tbl_joininfo .txt_gray02{padding:10px 0 0 0 !important;margin:0 !important;color:#808080}
table.tbl_joininfo .url{height:24px !important;line-height:28px !important;text-decoration:underline;color:#0072bc;padding:0;}

table.tbl_joininfo{width:868px}
table.tbl_joininfo col.th01{width:170px;*width:140px;padding:8px 0 8px 30px}
table.tbl_joininfo col.td01{width:88px;*width:68px;padding:8px 0 8px 20px}
table.tbl_joininfo col.td02{width:606px;*width:586px;padding:8px 0 8px 20px}
table.tbl_joininfo col.td03{width:695px;*width:675px;padding:8px 0 8px 20px}

table.tbl_joininfo tbody tr td .chk_mms01{float:left;width:345px;margin:8px 0 0 5px}
table.tbl_joininfo tbody tr td .chk_mms01>span{vertical-align:top;display:inline-block;zoom:1;*display:inline;height:18px;line-height:18px;padding:0 4px;margin:0 0 5px}
table.tbl_joininfo .chk_mms01 input{float:left}
table.tbl_joininfo .chk_mms01 input[type=checkbox]{margin-top:5px;*margin-top:6px}
table.tbl_joininfo .chk_mms01 label{display:block;float:left;height:21px;padding:0px 10px 0 0;margin:4px 0 0;vertical-align:top;line-height:14px !important;font-size:12px}
table.tbl_joininfo .chk_mms01 label em{font-weight:900;color:#2d7ed9}
table.tbl_joininfo tbody tr td .chk_mms02>span{vertical-align:top;display:inline-block;zoom:1;*display:inline;height:18px;line-height:18px;padding:0;margin:5px 0 0 -3px}
table.tbl_joininfo .chk_mms02 input{float:left}
table.tbl_joininfo .chk_mms02 label{display:block;float:left;height:21px;padding:0px 10px 0 0;margin:4px 0 0;vertical-align:top;line-height:14px !important;font-size:12px}
table.tbl_joininfo .chk_mms02 label em{font-weight:900;color:#2d7ed9}


/* 테이블_레이어팝업 */
table.tbl_lpop{table-layout:fixed}
table.tbl_lpop thead tr th{height:41px;border-right:1px solid #d7d7d7;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background:#ecf6ff;color:#597488;font-size:12px;font-weight:900;text-align:center}
table.tbl_lpop tbody tr td{height:41px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background:#fff;font-size:12px;text-align:center}
table.tbl_lpop thead tr th:first-child{border-left:1px solid #d7d7d7}
table.tbl_lpop tbody tr td:first-child{border-left:1px solid #d7d7d7}
table.tbl_lpop tbody tr td.a_left{text-align:left;padding-left:15px}
table.tbl_lpop tbody tr td a.btn{display:inline-block;height:24px;line-height:25px;font-size:13px;padding:0 7px;background:#f0f0f0;border:1px solid #919191;color:#333;text-align:center}
table.tbl_lpop tbody tr td em{color:#ff6c00;font-size:14px;text-decoration:underline;font-weight:900}

/* 게시판 페이지 네비게이션  */
.page_nav{width:868px;text-align:center;margin:22px 0 0 0;font-size:13px}
.page_nav a{display:inline-block;*display:inline;*zoom:1;vertical-align:top;min-width:8px;padding:5px 8px 4px;margin:0 2px;color:#666666;font-size:12px}
.page_nav a:link{color:#2c2c2c}
.page_nav a:hover{color:#aabe3d}
.page_nav strong{font-weight:900;color:#fff;font-size:12px}
.page_nav a.on{background:#8aa8bd;font-weight:900;color:#fff;font-size:12px}
.page_nav a:hover{background:#8aa8bd;color:#fff;font-size:12px;text-decoration:none}
.page_nav .dir{padding:0;margin:0 0 0 -1px}
.page_nav img{vertical-align:top}

/* 게시판 검색바 */
.board_schbar img{vertical-align:top}
.board_schbar{width:100%;height:36px;margin:38px 0 0 0;padding-top:13px;background:#f4f4f4;text-align:center}
.board_schbar input[type=text]{display:inline-block;width:235px;height:21px;line-height:21px;padding:1px;border:1px solid #c6c6c6;vertical-align:top;*margin:-1px 0 0 0}
.board_schbar select{width:80px;padding:3px}
.board_schbar .sel_wrap{}
.board_schbar input[type=image], .board_schbar a{display:inline-block;vertical-align:top;margin-top:-1px}

/* 셀렉트버튼 1 */
.selectDesign{display:inline-block; position:relative; display:inline-block; max-width:100%; border:1px solid #b0b0b0; background:#fff;border-radius:0px; *display:inline; *zoom:1}
.selectDesign select{visibility:hidden; position:absolute; z-index:-1}
.selectDesign .now{height:23px; padding:0 40px 0 10px; line-height:23px; cursor:pointer;overflow:hidden}
.selectDesign button{position:absolute; right:0px; top:0px; overflow:hidden; width:24px; height:23px; padding:0; border:0; text-indent:-999px; cursor:pointer; background:none; background:url("/images/common/select.gif") no-repeat 0 1px}
.selectDesign.show{z-index:10}
.selectDesign.show button{z-index:10; background-position:0px 1px}
.selectDesign .list{display:none; position:absolute; left:-1px; top:100%; width:100%; border:1px solid #b0b0b0; background:#fff}
.selectDesign .list li{cursor:pointer}
.selectDesign .list li a{display:block; padding:5px 5px 2px; color:#666; text-decoration:none}
.selectDesign .list li a.focus,
.selectDesign .list li a:hover{color:#fff; background-color:#8aa8bd}

/* 사이트맵 */
#content>#cont.footmap .location_wrap02{}/*width:1056*/
#content>#cont.footmap .location_wrap02 .location{}
#content>#cont.footmap .title{border-bottom:0;width:1140px}
#content>#cont.footmap .title h3{float:left;height:36px;line-height:36px;margin:0 0 0 8px;vertical-align:bottom;border:0;font-weight:600;font-size:32px;color:#4e4e4e}
.sitemap{width:1140px}
.sitemap>div{margin:20px 0 63px;clear:both;min-height:236px}
.sitemap .map_group{}
.sitemap .map_group:after{content:"";display:block;clear:both}
.sitemap .map_group li{float:left;width:191px;margin:0 34px 0 0}
.sitemap .map_group li.last{margin:0 0 0 0}
.sitemap .map_group li h4{width:189px;height:39px;border:1px solid #cfe7f9;background:#99cdf2;text-align:center;vertical-align:middle}
.sitemap .map_group li ul li{height:38px;line-height:38px;border-bottom:1px solid #dadada}
.sitemap .map_group li ul li a{background:url(/images/common/bul_sky.gif) no-repeat 14px 18px;width:191px;display:inline-block;padding:0 0 0 23px;font-size:13px}
.sitemap .map_group li h4 img{margin:10px 0 0}
.sitemap .map_group li ul li a:hover, 
.sitemap .map_group li ul li a:active{font-weight:900;color:#4b9bd4}
.footmap .sitemap{width:1140px}
.footmap .sitemap>div{margin:20px 0 60px;clear:both;min-height:236px;background:url(/images/common/bg_sitemap.gif) repeat-x 0 0}
.footmap .sitemap .map_group{}
.footmap .sitemap .map_group:after{content:"";display:block;clear:both}
.footmap .sitemap .map_group li{float:left;width:228px;margin:0}
.footmap .sitemap .map_group li.last{margin:0 0 0 0}
.footmap .sitemap .map_group li h4{width:200px;padding:0 0 0 40px;margin:0 0 15px 0;height:60px;line-height:60px;font-size:18px;color:#424242;background:none;border:0;font-weight:600;text-align:left;vertical-align:middle}
.footmap .sitemap .map_group li ul li{height:30px;line-height:30px;padding:0 0 0 40px;border-bottom:0;margin:0}
.footmap .sitemap .map_group li ul li a{width:200px;display:inline-block;font-size:14px;color:#454545;background:none;padding:0}
.footmap .sitemap .map_group li h4 img{margin:10px 0 0}
.footmap .sitemap .map_group li ul li a:hover span, 
.footmap .sitemap .map_group li ul li a:active span{font-weight:900;color:#282828;border-bottom:1px solid #282828}

/* 템플릿 팝업 300x375 */
.pop_tpl_01{position:relative;width:350px;height:375px}
.pop_tpl_01 .pop_content{width:100%;height:350px}
.pop_tpl_01 .invisible{visibility:hidden;font-size:0;line-height:0;overflow:hidden}
.pop_tpl_01 .pop_content h1,
.pop_tpl_01 .pop_content h2,
.pop_tpl_01 .pop_content h3,
.pop_tpl_01 .pop_content p,
.pop_tpl_01 .pop_content ul,
.pop_tpl_01 .pop_content ol,
.pop_tpl_01 .pop_content em,
.pop_tpl_01 .pop_content dl{visibility:hidden;font-size:0;line-height:0;overflow:hidden}
.pop_tpl_01 .pop_content em{display:block}
.pop_tpl_01 .confirm_request{position:absolute;top:225px;left:15px}
.pop_tpl_01 .confirm_request input[type=text]{vertical-align:top;width:60px;height:18px;border:1px solid #ddd}
.pop_tpl_01 .confirm_request input[type=text] + span{display:inline-block;vertical-align:top;margin:5px 4px 0}
.pop_tpl_01 .confirm_request select{margin:8px 0 0;height:20px}
.pop_tpl_01 .pop_content .btn_confirm{position:absolute;top:262px;left:64px;display:block}
.pop_tpl_01 .pop_content .btn_confirm span{visibility:hidden;font-size:0;line-height:0;overflow:hidden}
.pop_tpl_01 .pop_btm{width:100%;vertical-align:middle;height:30px;background:#f3f3f3;text-align:right;font-size:12px;color:#333}
.pop_tpl_01 .pop_btm>div{float:right;padding:6px 15px 0 0;}
.pop_tpl_01 .pop_btm a img {margin:0}
.pop_tpl_01 .pop_btm input{float:left;vertical-align:middle}
.pop_tpl_01 .pop_btm select{vertical-align:middle;float:left;height:20px;margin:0 4px 0 2px;font-size:12px;border:1px solid #999;color:#515151}
.pop_tpl_01 .pop_btm label span{float:left;display:block;padding:4px 5px 0 0;color:#515151;font-size:12px}
.pop_tpl_01 .pop_btm .btn_close{float:left;text-align:center;display:inline-block;width:46px;height:20px;line-height:20px;vertical-align:top;margin:-2px 0 0 0;padding:0;color:#333;font-weight:900;font-size:13px;background:#fff;border:1px solid #b9b9b9}

/* 에러페이지 */
.error_page02{position:relative;background:url(/images/main/error_bg2.jpg) no-repeat 0 0;width:713px;height:475px;position:absolute;top:50%;left:50%;margin:-232px 0 0 -356px}
.error_page02 p{text-align:center;margin:141px 0 0 0}
.error_page02 ul{position:absolute;top:265px;left:251px}
.error_page02 ul li{font-size:14px;font-family:'돋움',Dotum;line-height:1.2;padding:0 0 10px 7px;color:#484848;background:url(/images/main/bul_rect.gif) no-repeat 0 5px}

.error_page03{position:absolute;background:url(/images/main02/img_error.jpg) no-repeat 0 0;width:1140px;height:800px;position:absolute;top:50%;left:50%;margin:-450px 0 0 -570px}
.error_page03 p{text-align:center;margin:141px 0 0 0}
.error_page03 ul{position:absolute;bottom:40px;left:271px}
.error_page03 ul li{font-size:14px;font-family:'돋움',Dotum;line-height:1.2;padding:0 0 10px 7px;color:#484848}
.error_page03 ul li a{margin:0 10px}

/* 서비스점검 */
.service_chk{position:absolute;background:url(/images/main02/bg_serviceChk.jpg) no-repeat 0 0;width:1140px;height:690px;position:absolute;top:50%;left:50%;margin:-370px 0 0 -570px}
.service_chk .txt_area{margin:156px 0 0 110px;width:650px}
.service_chk .txt_area h2.tit{font-size:32px;font-weight:bold;color:#1f1f1f;margin-bottom:30px}
.service_chk .txt_area>p{text-align:left;font-size:21px;line-height:26px;font-weight:600;color:#1f1f1f;margin-bottom:38px}
.service_chk .txt_area>p em{color:#0095da;font-weight:bold}

/* 템플릿 플로팅배너 */
.lpop_wrap{position:absolute;z-index:200;margin-top:158px}
.lpop_wrap .lpop_tpl{position:relative;width:479px;padding-top:0px}
.lpop_wrap .lpop_tpl>img{position:absolute;top:0;left:0}
.lpop_wrap .lpop_tpl a.layer_close{position:absolute;top:12px;right:13px}
.lpop_wrap .lpop_tpl .lpopcon{height:376px}
.lpop_wrap .lpop_tpl .lpopcon p{position:absolute;visibility:hidden;font-size:0;line-height:0;overflow:hidden}
.lpop_wrap .lpop_tpl .lpopcon .btnarea{position:absolute;top:276px;left:0}
.lpop_wrap .lpop_tpl .lpopcon .btnarea span{position:absolute;top:0;left:0;visibility:hidden;font-size:0;line-height:0}
.lpop_wrap .lpop_tpl .lpop_bottom{height:23px;padding-right:7px;margin-top:0px;text-align:right;color:#484848;background:#dcdcdc}
.lpop_wrap .lpop_tpl .lpop_bottom input[type=checkbox]{position:relative;top:2px;width:13px;height:13px;vertical-align:top}
.lpop_wrap .lpop_tpl .lpop_bottom label, .lpop_wrap .lpop_tpl .lpop_bottom a{position:relative;top:5px}
.lpop_wrap .lpop_tpl .lpop_bottom a img{display:inline-block;margin:-2px 5px 0}

/* 학원설립운영등록증 팝업 */
.btn_popClose{text-align:center;padding-bottom:10px}

/* 마케팅 정보 수신 동의 확인 안내 */
.pop_ag161125 .pop_ag_header {width:100%; height:65px; margin-bottom:20px; text-align:center; border-bottom:1px solid #ececec;}
.pop_ag161125 .pop_ag_header img {width:auto; height:65px;}
.pop_ag161125 .pop_ag_content {padding:0 20px;}
.pop_ag161125 .pop_ag_content .greeting {font-weight:900; color:#333; font-size:14px;}
.pop_ag161125 .pop_ag_content p {padding-bottom:16px;}
.pop_ag161125 .pop_ag_content p strong {font-weight:900; color:#434343;}
.pop_ag161125 .pop_ag_content p span {font-weight:900; color:#349d95;}
.pop_ag161125 .pop_ag_content table {width:100%; color:#63738c; border-top:2px solid #abb5c6; border-bottom:1px solid #c2c8d3;}
.pop_ag161125 .pop_ag_content table th {padding:10px; border-right:1px solid #e0e4ec; background:#f8f8f8;}
.pop_ag161125 .pop_ag_content table td {padding:10px; font-size:11px; border-top:1px solid #e0e4ec;text-align:left}
.pop_ag161125 .pop_ag_content table p {padding:0 0 6px 8px; text-indent:-8px;}
.pop_ag161125 .pop_ag_content table p img {width:4px; height:auto; position:relative; top:-2px;}
.pop_ag161125 .pop_ag_content table ul li {padding-bottom:2px; font-weight:900; position:relative;}
.pop_ag161125 .pop_ag_content table ul li span {position:absolute; right:0; top:0;}
.pop_ag161125 .pop_ag_content .pop_ag_info {padding:10px 15px 3px 15px; margin-top:20px; font-size:11px; border-radius:5px; background:#f8f8f8;}
.pop_ag161125 .pop_ag_content .pop_ag_info li {padding:0 0 7px 10px; text-indent:-10px;}
.pop_ag161125 .pop_ag_content .pop_ag_info li img {width:12px; height:auto;}
.pop_ag161125 .pop_ag_content .pop_ag_btns {padding:20px 0; text-align:center;}
.pop_ag161125 .pop_ag_content .pop_ag_btns img {width:auto; height:30px;}

/* 상단 검색영역 */
.topSrch_area{position:absolute;right:0px;top:40px}
.topSrch_area .topSrch {border:2px solid #47abde;float:left;margin-right:4px;width:300px}
.topSrch_area .topSrch .selectDesign{display:inline-block;position:relative;width:150px;border:0;background:#fff;border-radius:0;*display:inline;*zoom:1;vertical-align:middle}
.topSrch_area .topSrch .selectDesign select{visibility:hidden;position:absolute;z-index:-1}
.topSrch_area .topSrch .selectDesign .now{height:29px;padding:0 40px 0 10px;line-height:29px;cursor:pointer}
.topSrch_area .topSrch .selectDesign button{position:absolute;right:0;top:0;overflow:hidden;width:24px;height:29px;padding:0;border:0;text-indent:-999px;cursor:pointer;background:url(/images/common/select03.gif) no-repeat 0 5px}
.topSrch_area .topSrch .selectDesign.show{z-index:10}
.topSrch_area .topSrch .selectDesign.show button{z-index:10;background-position:0 5px}
.topSrch_area .topSrch .selectDesign .list{display:none;position:absolute;left:-1px;top:100%;width:100%;border:1px solid #b0b0b0;background:#fff;max-height:300px;overflow-y:auto}
.topSrch_area .topSrch .selectDesign .list li{cursor:pointer}
.topSrch_area .topSrch .selectDesign .list li a{display:block;padding:5px 10px 2px;color:#666;text-decoration:none}
.topSrch_area .topSrch .selectDesign .list li a.focus,
.topSrch_area .topSrch .selectDesign .list li a:hover{color:#fff;background-color:#8aa8bd}
.topSrch_area .topSrch input[type=text]{width:130px;height:14px;padding:5px 0;vertical-align:middle;border:0;display:inline-block}
.topSrch_area .topSrch input:focus,.topSrch_area button:focus{outline:none;border:none}
.topSrch_area button.btn_srch{background:#47abde;color:#fff;font-family:'돋움',dotum,sans-serif;font-size:12px;float:left;margin-top:0px;padding:10px 8px 9px;*padding:9px 3px 7px;border:0;cursor:pointer;z-index:99}



/* 상단 탑 배너 */
.bn_headertop{width:100%;height:180px;text-align:center}
.bn_headertop .bn_area{position:relative;width:1140px;margin:0 auto}
.bn_headertop .bn_area img{position:absolute;top:0;left:0}
.bn_headertop .btn_close{position:absolute;top:20px;right:0}
.bn_headertop.bn_171206{background:#043072}
.bn_headertop.bn_171206 .bn_area .bn{background-color:#043072; width:1140px; height:180px}
